<footer class="footer">
  <div class="footer-title">
    <img src="/assets/logo.png" alt="logo" class="footer-logo">
    <p class="footer-title-text">DinoPark</p>
  </div>
  <div class="footer-legal">
    <a href="">Mentions légales</a>
    <a href="">Politique de confidentialité</a>
  </div>
  <p class="footer-text">@2025 - Site développé par Emilie Marion - All rights reserved </p>
</footer>
<script src="/js/navBarButton.js"></script>
</body>

</html>