<header>
    <a href="/">
        <img src="/assets/logo.png" alt="logo">
        <h1>DinoPark</h1>
    </a>
    <nav>
        <a href="/booking">Réservation</a>
        <a href="/login">Connexion</a>
    </nav>
</header>