<header class="header">
    <a href="/" class="header-title">
        <img src="/assets/logo.png" alt="logo" class="header-logo">
        <h1 class="header-title-text">DinoPark</h1>
    </a>
    <nav class="header-links">
        <a href="/booking" class="header-link">Réservation</a>
        <a href="/login" class="header-link">Connexion</a>
    </nav>
</header>