<header class="header">
  <div class="header-mobile">
    <a href="/" class="header-title">
        <img src="/assets/logo.png" alt="logo" class="header-logo">
        <h1 class="header-title-text">DinoPark</h1>
    </a>
    <button type="button" class="nav-bar-button" id="navBarButton">
      <svg width="24" height="24">
        <rect width="18" height="2.3" x="6" y="3.6" rx="1.3" fill="white" />
        <rect width="24" height="2.3" x="0" y="10.85" rx="1.3" fill="white" />
        <rect width="13" height="2.3" x="11" y="18" rx="1.3" fill="white" />
      </svg>
    </button>
    </div>
    <nav class="header-links" id="headerNavBar">
        <a href="/booking" class="header-link">Réservation</a>
        <a href="/login" class="header-link">Connexion</a>
    </nav>
    
</header>