<header>
    <div>
        <img src="/assets/logo.png" alt="logo">
        <h1>DinoPark</h1>
    </div>
    <nav>
        <a href="/booking">Réservation</a>
        <a href="/connexion">Connexion</a>
    </nav>
</header>