<%- include("../partials/head", {title: Réservation}) %>
<%- include("../partials/header") %>

<main>
    <h2>Réservation</h2>
    <form action=""></form>
</main>

<%- include("../partials/footer") %>