<%- include("../partials/head", {title: "Attractions" }) %>
<%- include("../partials/header") %>

<main class="browse-section">
  <h2>Nos espèces de dinosaures</h2>
  <ul class="browse-list">
    <% categories.forEach((category)=> { %>
    <li class="browse-card">
      <% const dinosaur = dinosaurs.find((dino) => {return dino.getCategoryId() === category.getId();}) %>
      <%- include("../partials/browseCard", { data: category, image: dinosaur.getImage(), link: "/category" }) %>
    </li>
    <% }) %>
  </ul>
</main>

<%- include("../partials/footer") %>