<%- include("../partials/head") %>
<%- include("../partials/header") %>

<main>
    <section class="hero-banner">
        <h1>Vivez l'aventure préhistorique !</h1>
        <div>
            <a href="/booking">Réserver maintenant</a>
        </div>
    </section>
    <section class="parks">
        <h2>Nos Parcs</h2>
        <ul>

        </ul>
    </section>
    <section class="explore">
        <h2>Explorer</h2>
        <ul>
            <li>
                <img src="" alt="Attraction">
                <a href="/attraction">Nos attractions</a>
            </li>
            <li>
                <img src="" alt="Dinosaure">
                <a href="/category">Nos dinosaures</a>
            </li>
        </ul>
    </section>
    <section class="hours">
        <h2>Nos horaires</h2>
        <div></div>
        <div></div>
    </section>
</main>

<%- include("../partials/footer") %>